body{
    background-color: rgb(154, 150, 150);
    background: linear-gradient(45deg, rgb(59, 53, 110),rgb(65, 119, 62),rgb(171, 192, 38));
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 10px;
    /* border: 1px solid black; */
}
.container{
    padding: 90px 30px;
    border: 1px solid;
    background: rgb(113, 135, 81);
    
}
input{
    align-items: center;
    text-align: center;
}
.todos{
    padding: 30px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
