@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;300;600&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background:  linear-gradient(
    rgba(24, 25, 25, 0.3),
    rgba(19, 19, 19, 0.4)
  ),url(./Img/np.jpg);
  height: 70vh;
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  position: relative;
}
main .box {
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 1.88;
  background-color: rgb(0, 0, 0);
}
nav {
  max-width: 130vh;
  margin: auto;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
  color: red;
  position: relative;
  z-index: 10;
  background : linear-gradient(
    rgba(24, 25, 25, 0.3),
    rgba(19, 19, 19, 0.4));
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "martel sans", sans-serif;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.separation {
  height: 8px;
  background-color: gray;
}
.btn {
  padding: 3px 9px;
  font-weight: bold;
  color: white;
  font-weight: 400;
  /* border: 1px solid; */
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.332);
  cursor: pointer;
}

.btn-red {
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  background-color: red;
}
.main input {
  padding: 7px 101px 6px 14px;
  font-size: 12px;
  color: white;
  font-weight: 800;
  border-radius: 4px;
  background-color: rgba(49, 46, 46, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-red-sm {
  background-color: red;
  color: white;
  padding: 3px 12px;
  font-size: 20px;
  border-radius: 4px;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}
.secImg {
  position: relative;
}
.secImg img {
  width: 37vw;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
}
section.first > div {
  display: flex;
  flex-direction: column;
}
.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  font-size: 20px;
  font-weight: bolder;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;


}
.faqbox:hover {
    background-color: grey;
}

.faqbox {
    transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  background-color: rgb(61, 57, 57);
  padding: 24px;
  max-width: 60vw;
  margin: 30px auto;
  cursor: pointer;

}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
footer .questions{
    padding: 34px 0;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    color: white;    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

